POSTGRES_DB=flownix_scaling
POSTGRES_USER=flownix
POSTGRES_PASSWORD=flownix_local_password

CONNECTION_STRING=Host=postgres;Port=5432;Database=flownix_scaling;Username=flownix;Password=flownix_local_password

JWT_KEY=THIS_IS_A_LOCAL_SCALING_TEST_SECRET_KEY_1234567890
JWT_ISSUER=Flownix
JWT_AUDIENCE=FlownixUsers